body {
  margin: auto;
  background-color: #0f0e11;
  color: #b4b4b4;
}

.tickets {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ticket {
  flex: 1 auto;
  border: 1px solid #2b2d35;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #23252d;
}

.footer {
  border-top: 1px solid #686868;
  font-size: 14px;
}

.content {
  text-align: justify;
}

.label {
  max-width: 50px;
  border: 1px solid #686868;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}